
@{
    ViewBag.Title = "Index";
}

<h2>Nachricht für Facebook verfassen</h2>

<p>
    Hier können Sie eine Facebook-Nachricht veröffentlichen, nachdem Sie sich via Facebook bei dieser Seite angemeldet haben.
</p>
<form method="post">

    <p>
        <textarea rows="5" cols="80" name="message"></textarea>
    </p>
    <p>
        <input type="submit" />
    </p>
</form>