@model WebApp.Models.Voucher

@{
    ViewBag.Title = "BuyVoucher";
}

<h2>Voucher</h2>

<div>
    
    <div>
        <span style="background-color:yellowgreen">@Model.VoucherText</span>
    </div>

</div>

